<div class="py-4">
  <div class="grid grid-cols-3">
    <div class="px-4 md:px-16">
      <span class="cursor-pointer" routerLink="">←</span>
    </div>
    <div>
      <h1 class="text-center">Connexion</h1>
    </div>
    <div></div>
  </div>
  <form
    class="flex flex-col items-center w-full gap-y-8"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <input
      class="w-3/4 px-4 py-2 border rounded md:w-1/4"
      placeholder="Email"
      formControlName="email"
    />
    <input
      class="w-3/4 px-4 py-2 border rounded md:w-1/4"
      [type]="hide ? 'password' : 'text'"
      placeholder="Mot de passe"
      formControlName="password"
    />
    <!-- <button
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        {{ hide ? 'Show' : 'Hide' }}
      </button> -->
    <button
      class="px-4 py-2 font-semibold text-white bg-purple-500 rounded"
      type="submit"
      [disabled]="form.invalid"
    >
      Se connecter
    </button>
    <p *ngIf="onError" class="error">An error occurred</p>
  </form>
</div>
